
#header-nav {
  background-color: #008888;
  border-radius: 0;
  border: 0;
  color: white;
}

.navbar-header .navbar-brand  {
  color: #fff;
}
a.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color: #222;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.navbar-nav li, .navbar-collapse {
  background-color: #009999;
}

.navbar-nav li:hover {
  background-color: #004444;
}

.navbar-default .navbar-nav li a {
  color: white;
} 
.navbar-default .navbar-nav li a:hover {
  color: white;
} 

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus {
  background-color: #004444;
}

h1 {
  margin-bottom: 30px;
}

.food {
  /* width: 80%; */
  margin: auto;
  padding: 30px;
  background-color: #aaa;
}

.food-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
} 

@media (max-width: 767px) {
  .food {
    width: 80%;
  }
}